html,body{
  width: 100%;
  height: 100%;
  background-color: goldenrod;
  margin: 0px;

}
a { color: inherit; text-decoration: none; } 
.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
  grid-template-areas: "." "." ".";
  align-self: auto;
}
.menu{
  background-color: black;
  color: goldenrod;
  text-align: center;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . . .";

}

.menuTab{
padding-top: 45px;
}
.footer{
  background-color:#373738;
  color: goldenrod;
}
.content{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}
.contentSub{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas: "." "." ".";
}